 @using IkJetApp.Areas.Personnel.Models.WorkOff

@model List<WorkOffViewModel>

@{
    ViewData["Title"] = "Reddedilen İzin Talepleri";
}

<h1>Reddedilen İzinler</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni İzin Talebi Oluştur</a>
</p>
<link rel="stylesheet" href="~/css/customTable.css" />
<div class="table-container theme-secondary">

<table >
    <thead>
        <tr>
            <th>Başlangıç Tarihi</th>
            <th>Bitiş Tarihi</th>
            <th>İzin Türü</th>
            <th>Gün Sayısı</th>
            <th>Onay Durumu</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.EndDate.ToShortDateString()</td>
                <td>@item.WorkOfTypeDisplay</td>
                <td>@item.RequestedLeaveDay</td>
                <td>@item.ApprovalStatusDisplay</td>
            </tr>
        }
    </tbody>
</table>
</div>
